<div class="bg-black border-2 border-white/10 rounded-xl shadow-md self-start px-2 py-2">
    <div class="snackbar flex itmes-center mx-auto p-0" style="grid-column-gap: .618em; grid-row-gap: .618em;">
        <div class="success-bg rounded-xl  justify-center p-2 flex items-center">
            <div class="success-color material-symbols-rounded">check_circle</div>
        </div>
        <div class="flex items-center">
            <div class="font-bold mr-2 success-color">Success</div>
            <div class="font-normal mr-2">For neutral notifications and alerts.</div>
            <div class="hidden" style="grid-column-gap: 1em; grid-row-gap: 1em;">
                <div class="w-[1px] bg-white/10"></div><a href="#" class="font-bold text-main">Action</a>
            </div>
        </div>
    </div>
</div>