@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --accent-color: #353535; /* Default color */

  --error-color: #ffb4ab;
  --warning-color: #f7bd48;
  --info-color: #76db9a;
  --success-color: #b1c5ff;

  --error-container: #93000a;
  --warning-container: #5e4200;
  --info-container: #00522c;
  --success-container: #00419e;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.bg-main-button {
  background-color: var(--accent-color);
  &.bg-main-button:hover {
    background-image: linear-gradient(rgb(0 0 0/35%) 0 0);
  }
}

* {
  /* color: rgb(228, 228, 228); */
  transition: ease 300ms;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &*::-webkit-scrollbar {
    display: none;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  * {
    /* color: rgb(228, 228, 228); */
  }
}

body {
  -webkit-app-region: no-drag;
  transition: none;
  background: transparent;
}

.hyper-font {
  font-family: "SF Pro Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container-bg {
  transition: none;
}

#search-input {
  transition: none;
  font-size: 24px;
  background-color: rgba(20, 20, 20, 0);
  padding: 15px;
  border-radius: 6px;
}

.hyperbar {
  transition: none;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  flex-wrap: nowrap;
}

/* Input */

input:focus {
  outline: rgb(255, 255, 255);
}

.hyper-input {
  width: calc(100vw - 65px);
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  width: calc(100vw - 65px);
  color: rgb(228, 228, 228);
}

.hyper-input::placeholder {
  color: rgb(228, 228, 228);
}

/* ------------ */

/* AI Response - Display is none then waits for script to make it block */
#ai-response {
  display: none;
  background-color: rgb(255 255 255 / 5%);
  outline: solid 1px rgb(255 255 255 / 15%);
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 15px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.75);
  width: calc(100% - 30px);
  overflow: hidden; /* No scrollbar, letting the div expand */
}

#ai-reply {
  word-wrap: break-word; /* Ensure long words do not cause overflow */
}

/* AI Icon */

svg.flex {
  aspect-ratio: 1 / 1;
}

.ai-icon:hover {
  transition: ease 500ms;
  scale: 1.4;
  filter: drop-shadow(0px 0px 5px white);
}

#settings-btn {
  padding-top: 3px;
  padding-inline: 15px;
}

/* API Input */

/* #api-input {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-left: 15px;
    border-radius: 15px;
    width: 100%;
} */

/* #api-settings {

} */
