
:root {
  --error-color: #ffb4ab;
  --warning-color: #f7bd48;
  --success-color: #76db9a;
  --info-color: #b1c5ff;
  --error-container: #93000a;
  --warning-container: #5e4200;
  --success-container: #00522c;
  --info-container: #00419e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.error-color { color: var(--error-color) }
.error-bg { background-color: var(--error-container) }
.warning-color { color: var(--warning-color) }
.warning-bg { background-color: var(--warning-container) }
.info-color { color: var(--info-color) }
.info-bg { background-color: var(--info-container) }
.success-color { color: var(--success-color) }
.success-bg { background-color: var(--success-container) }

h1 { font-size: 4.235em; font-weight: 700; line-height: 1.129; letter-spacing: -.035em;}
h2 { font-size: 2.618em; font-weight: 700; line-height: 1.272; letter-spacing: -0.022em;}
h3 { font-size: 2.058em; font-weight: 600; line-height: 1.272; letter-spacing: -0.022em;}
h4 { font-size: 1.618em; font-weight: 600; line-height: 1.272; letter-spacing: -0.02em;}
h5 { font-size: 1.272em; font-weight: 600; line-height: 1.272; letter-spacing: -0.017em;}
h6 { font-size: 1.129em; font-weight: 600; line-height: 1.272; letter-spacing: -0.014em;}
h1,h2,h3,h4,h5,h6 { filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1)) }
p, span { filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1)) }

@media (prefers-color-scheme: dark) {
  h1,h2,h3,h4,h5,h6 { filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.0)) }
  p, span { filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.0)) }
}

/* ----------------------------------------------- */

.icon { width: 20px; }
.badge { border-radius: .618em; justify-content: center; align-items: center; padding: .272em; display: flex; overflow: hidden; aspect-ratio: 1 / 1; width: fit-content; }
.sticker {
  grid-column-gap: .272em;
  grid-row-gap: .272em;
  box-shadow: 0 0 1px 0 #000;
  letter-spacing: -.004em;
  border-radius: 0.6250em;
  justify-content: center;
  align-items: center;
  padding: .272em .618em;
  font-size: .835em;
  font-weight: 500;
  line-height: 1.272;
  display: flex;
  overflow: hidden;
  width: fit-content;
}

.btn {
  grid-column-gap: .485867em;
  grid-row-gap: .485867em;
  background-color: var(--accent-color); &:hover { background-image: linear-gradient(rgb(0 0 0 / 35%) 0 0); };
  white-space: normal;
  word-break: keep-all;
  border: 1px solid transparent;
  border-radius: 0.6250em;
  justify-content: flex-start;
  align-items: center;
  padding: .485867em 1em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.btn-link {
  grid-column-gap: .485867em;
  grid-row-gap: .485867em;
  white-space: normal;
  word-break: keep-all;
  border: 1px solid transparent;
  border-radius: 0.6250em;
  justify-content: flex-start;
  align-items: center;
  padding: .485867em 1em;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

/* ----------------------------------------------- */
.snackbar { grid-column-gap: .618em; grid-row-gap: .618em; }
.snackbar-action { grid-column-gap: 1em; grid-row-gap: 1em; }
/* ---------------------------------------------------------------------------------------------- */


#window-bar {
  /* position: absolute; */
  z-index: 10;
}

#window-drag-tool {
  /* outline: 1px solid white; */
  -webkit-app-region: drag;
  position: sticky;
  width: 100vw;
  height: 45px;
  background-color: transparent;
  top: 0px;
}

/* Custom Close Button */

#close-window {
    /* position: absolute; */
    margin: 10px;
    text-decoration: none;
    background: none;
    border: none;
}

#close-window svg {
    stroke: white;
    &:hover { stroke: rgba(255, 255, 255, 0.5); transition: ease 15ms;  }
}

.settings-container {
  position: relative;
  bottom: 50px;
  margin-right: 45px;
  z-index: 1;
}

/* Colors  --------------------------------------------------- */

:root {
  --color-main: #f0f0f0;
  --color-sub: #ffffff80;
  --fill-main: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-dark-main: #1a1a1a;
  --color-dark-sub: #00000080;
  }
}

/* Text ----------------- */
.text-hype {
  color: var(--color-main);
}

.text-hype-sub {
  color: var(--color-sub);
}

.stroke-hype {
    stroke: var(--fill-main);
}
  .fill-hype {
    fill: var(--fill-main);
}

/* Fill ----------------- */

/* ---------------------------------------------------------------------------------------------------------------------- */

/* Checkbox */

input[type="checkbox"] {
  background: rgb(117, 117, 117);
}


/* Settings Sidebar */
#default-sidebar {
  height: 100%;
  width: 220px; /* Starting width */
}

.handle {
  background-color: hsla(0, 0%, 0%, 0.1);
  width: 3px;
  height: 118.5%;
  cursor: ew-resize;
  position: relative;
  right: 0;
  bottom: -4px;
  z-index: 999;
  &.handle:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}

.sidebar-h {
  height: 118.8%;
}

/* Settings Card */
.set-card {
    transition: none;
    width: calc(100vw - 240px);
    padding-right: 20px;
}

/* Input  */
.api-input {
  width: calc(100vw - 260px); /* 240px is wall */
}

.instructions-input {
  width: calc(100vw - 260px); /* 240px is wall */
  padding-right: 20px;
  padding-bottom: 100px;
}

/* Shiny Text */

:root {
  --shiny-text: #ffffff80;
}

.shiny {
  background-image: repeating-linear-gradient(120deg, var(--shiny-text), var(--shiny-text), var(--shiny-text), var(--shiny-text), var(--shiny-text), var(--shiny-text), var(--shiny-text), #fff, var(--shiny-text), var(--shiny-text), var(--shiny-text), var(--shiny-text), var(--shiny-text), var(--shiny-text), var(--shiny-text));
  text-align: center;
  background-size: 350% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 2s ease infinite;
  animation-direction: normal;
  color: transparent;
}


@keyframes rainbow {
  0% {
    background-position: 100% 25%
  }

  100% {
    background-position: 0% 50%
  }
}

/* Modal */

.modal {
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

#modal-content {
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translateX(50%);
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  z-index: 99;
}

.modal-visible {
    display: block; /* or flex, etc., depending on your layout */
    position: absolute;
    opacity: 1; /* Fully visible modal */
    visibility: visible; /* The modal can now be seen */
}

.modal-hidden {
    display: none;
}

#modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}