/* @media (prefers-color-scheme: dark) {
    * {
        color: rgb(228, 228, 228);
    }
    #api-input {
    background-color: rgba(255, 255, 255, 0.2);
    }
  } */

#window-bar {
  /* position: absolute; */
  z-index: 10;
}

#window-drag-tool {
  /* outline: 1px solid white; */
  -webkit-app-region: drag;
  width: 100vw;
  height: 45px;
  background-color: transparent;
  top: 0px;
}

/* Custom Close Button */

#close-window {
    /* position: absolute; */
    margin: 10px;
    text-decoration: none;
    background: none;
    border: none;
}

#close-window svg {
    stroke: white;
    &:hover { stroke: rgba(255, 255, 255, 0.5); transition: ease 15ms;  }
}

.settings-container {
  position: relative;
  bottom: 50px;
  margin-right: 45px;
  z-index: 1;
}


/* Checkbox */

input[type="checkbox"] {
  background: rgb(117, 117, 117);
}