/* @media (prefers-color-scheme: dark) {
    * {
        color: rgb(228, 228, 228);
    }
    #api-input {
    background-color: rgba(255, 255, 255, 0.2);
    }
  } */


#window-drag-tool {
  -webkit-app-region: drag;
}

/* Checkbox */

input[type="checkbox"] {
  background: red;
}